@use 'common/fonts';
@use 'common/reset';

:root {
	--bg-main: #1a1a1a;
	--text-main: #FAFBFF;

	--shadow-purple-neon: 0 0 15px rgba(0, 150, 255, 0.8), 0 0 30px rgba(140, 0, 255, 0.6);
}

body {
	font-family: Poppins, sans-serif;
	background: var(--bg-main) url("../assets/images/bg-pattern.png");
	backdrop-filter: brightness(0.18);
	color: var(--text-main);
}
