.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;

  .playerSymbol {
    font-size: 56px;
  }

  .playerContainer {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .playerName {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

    overflow: hidden;

    padding: 12px 24px;
    border: 2px solid transparent;

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: all .3s ease-in-out;

    &.active {
      border-color: rgba(140, 0, 255, 0.6);
    }
  }

  .editBtn {
    margin-top: 2px;
  }

  .editField {
    width: 100%;
    outline: none;

    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
